.header {
  background: $off-black;
  color: $white;
  margin-bottom: $med-size;
  padding: $med-size 0;
}

.header__title {
  font-size: $lg-size;
  margin: 0;
}

.header__subtitle {
  color: $off-white;
  font-size: $med-size;
  font-weight: normal;
  margin: 0;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $xl-size;
  }
}
