.widget-header {
  background-color: $blue;
  color: $off-white;
  display: flex;
  justify-content: space-between;
  padding: $med-size;
}

.widget-header__title {
  margin: 0;
}

.widget-body {
  background-color: $light-blue;
  margin-bottom: $xl-size;
}

.widget-body__message {
  color: $off-white;
  margin: 0;
  padding: $lg-size;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid lighten($light-blue, 10%);
}
