html {
  font-size: 62.5%;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: $med-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.isActive {
  font-weight: bold;
}
